.userimg{
    width:200px;
    height:200px;
}
.userimg:hover{
	cursor: pointer;
}
hr{
    border:0px;
}
.paddingX{
    width:75%;
}
.resetHover{
    text-align:center;
}
.resetHover:hover{
    cursor: pointer;
}